<h4>Add Character</h4>

    <form action="post" class="row" (ngSubmit)="addCharacter()">
      <input type="text"
      placeholder="Name"
      class="form-control mb-2"
      [(ngModel)]="character.name"
      name="Name">

      <input type="text"
      placeholder="Power level"
      class="form-control mb-2"
      [(ngModel)]="character.powerLevel"
      name="powerLevel">

      <button class="btn btn-primary" type="submit">
        Add warrior
      </button>

      <!-- <pre>{{character | json}}</pre> -->

    </form>
